@media screen and (min-width: 50px) and (max-width: 480px) {

      .about-header h1{
        font-size: 3rem;
        padding: 2rem 2rem 8rem 2rem;
        color: white;
      }

      .footer-5{
        padding-left: 15px;
      }
      .footer-5 input {
        width: 50%;
      }
    
      .footer-5 button {
        display: block;
        margin-top: 10px;
      }

  .about-section{
    padding: 1rem;
    text-align: justify;
  }

  .text-1 h2, .text-2 h3{
    font-size: 2rem;
    padding: 20px 3px;
  }

  .sections1{
      padding-bottom: 4rem;
  }

}

@media screen and (min-width: 481px) and (max-width: 600px) {
    
    .about-header h1{
        font-size: 3rem;
        padding: 2rem 4rem 8rem 4rem;
        color: white;
      }
    .text-1{
        padding-top: 2rem;
      }

      .text-1 h2, .text-2 h3{
        font-size: 2.5rem;
        padding: 20px 0;
      }
    
      .sections1{
    padding: 2rem 3.5rem;
      }
}

@media screen and (min-width: 601px) and (max-width: 768px){
    .text1{
        padding-top: 2rem;
      }
    
      .text-1 h2, .text-2 h3{
        font-size: 3rem;
        padding: 20px 0;
      }
    
      .sections1{
      padding: 2rem 4rem;
      }
    
      .text-1{
        text-align: center;
      }
    
      .text-2{
        padding: 40px 10px;
      }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .text-1{
        padding-top: 2rem;
      }
    
      .text-1 h2, .text-2 h3{
        font-size: 3rem;
        padding: 20px 0;
      }
    
      .sections1{
      padding: 2rem 4rem;
      }
    
      .text-1{
        text-align: center;
      }
    
      .text-2{
        padding: 40px 30px;
      }

      .text-1 p{
        padding: 0 4rem;
      }
}

@media screen and (min-width: 993px) and (max-width: 1199px){
    .text-1 h2, .text-2 h3{
        font-size: 3.5rem;
        padding: 20px 0;
      }
    
      .sections1{
      padding: 2rem 3rem;
      }
    
      .text-1{
        text-align: center;
      }
    
      .text-1 p{
        padding: 0 90px;
      }
    
      .text-2{
        padding: 40px 80px;
      }
}

@media screen and (min-width: 1200px) {
    .text-1 h2, .text-2 h3{
        font-size: 3.5rem;
        padding: 20px 0;
      }
    
      .text-1{
        text-align: center;
      }
    
      .text-1 p{
        padding: 0 350px;
      }
    
      .text-2{
        padding: 40px 289px;
      }     
    
    aside h2 {
        padding-left: 300px;
      }
     aside h2:after {
        left: 480px;
        top: 50px;
      }
}