*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Cera Pro";
  --header-color: #f8fdfc;
  --body-font: "Mulish";
  --body-color: #e5e5e5;
  --footer: #000;
  --button: #20c7ab;
  --footer-color: #f9f9f9;
  --font-color: #777777;
}

html,
body {
  font-size: 10px;
  font-family: var(--body-font);
  overflow-x: hidden;
  line-height: 1.7;
}

@font-face {
  font-family: "Mulish";
  src: url("/Mulish/static");
}

@font-face {
  font-family: "Cera Pro";
  src: url("/cera");
}

.container{
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro";
  color: #000;
  letter-spacing: -0.05em;
  font-style: normal;
  font-weight: bold;
}
p,
input {
  font-family: var(--body-font);
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
}

button {
  background: var(--button);
  color: white;
  border-radius: 12px;
  padding: 15px;
  min-width: 100px;
  text-transform: uppercase;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.mobile {
  font-size: 50px;
  position: relative;
  display: none;
  color: white;
}

  ul a, ul li {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  margin: 0 5.5px;
  color: white;
  font-size: 14px;
}

 ul li ion-icon {
  font-size: 2rem;
  color: white;
}

  ul {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.about-header {
  line-height: 1.5;
  background-color: var(--footer);
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  color: white;
}

.about-header::after{
  content: url('/images/mask.svg');
  bottom: 0;
  position: absolute;
  left: 0;
  /* right: 0; */
  width: 100%;
  object-fit: contain;
}


.about-header h1{
  font-size: 6rem;
  font-family: 'Mulish';
  padding: 2rem 10rem 8rem 10rem;
  color: white;
}

.text-1{
  text-align: center;
}

.text1 h2, .text2 h3{
  font-size: 3rem;
}

.text1,.text2{
  padding: 40px 0;
}

.text-2{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  place-items: center;
}

.aside-about{
  padding-bottom: 50px;
}

.about-section{
  margin-top: 6rem;
}

footer {
    background-color: black;
    color: white;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    bottom: 0;
    grid-template-rows: auto;
    padding: 30px;
  }
  
  footer li {
    color: white;
    padding: 5px 0;
    list-style-type: none;
    font-size: 12px;
  }
  
  input{
    display: relative;
    max-width: 100%;
    padding: 15px 18px;
    outline: none;
    border: none;
    color: grey;
  }
  .footer-5 button {
    border-radius: 0;
    position: absolute;
    margin-right: -30px;
    padding: 15px 18px;
  }
  
  form {
    margin: auto;
  }
  
  label {
    font-size: 20px;
    display: block;
    padding-bottom: 20px;
  }
  
  .footer-5 input {
    width: 50%;
  }
  .footer-5{
    padding-left: 20px;
  }
  .footers{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 700px;
    height: 300px;
    margin: 20px 0;
    border-radius: 20px;
    padding: 2px 2px 15px 15px;
  }

  .card{
    padding: 2px 1px 15px 2px;
  }

  .card-section{
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto;
    place-items: center;
  }
  
  .edo img{
    object-fit: fill;
    width: 400px;
    height: 290px;
    display: block;
    margin: 15px auto auto auto;
    border-radius: 20px;
  }
  
  
  .text{
    width: 100%;
    display: block;
    padding: 0 50px 0 10px;
  }

  aside h2 {
    font-size: 3rem;
    padding: 3rem;
    position: relative;
  }
  
  aside h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: 210px;
    top: 50px;
    background-color: black;
  }

  .text1{
    text-align: justify;
    padding-left: 40px;
  }
  .text h4 {
    font-size: 20px;
    line-height: 1;
    padding-top: 15px;
  }
  
  .text p{
    padding: 20px 0;
    color: black;
    font-size: 13px;
  }
  
  @media only screen and (max-width: 700px) {
    .cards{
      display: block;
      width: 300px;
      height: fit-content;
      padding: 0 15px 0 15px;
    }
  
    .card{
      padding: 2px 1px 5px 2px;
    }
  
    .text{
      width: 100%;
    }

    .text{
      width: 100%;
      display: block;
      padding: 0 10px 0 10px;
    }
  }

  .asides {
    display: flex;
    justify-content: space-between;
    width: 600px;
    max-width: 100%;
    height: 100px;
    align-items: center;
    border-radius: 40px;
    margin: 20px 0;
    border: 2px solid #515151;
    padding: 2px 18px 2px 2px;
  }

  .aside-about{
    padding-bottom: 50px;
  }

  .num-text p{
    padding: 10px 40px 10px 0px;
    display: block;
    line-height: 1;
  }
  .num{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    max-width :100px;
    max-height: 100px;
    text-align: center;
    font-size: 4rem;
    margin: 20px;
    padding: 10px ;
    color: #ffffff;
  }

  .asidess{
    display: grid;
    grid-auto-columns: auto;
    place-items: center;
  }
  
  @media only screen and (max-width: 600px) {
    .asides{
      display: block;
      width: 300px;
      max-width: 100%;
    height: fit-content;
    padding: 10px 12px;
    margin: 20px auto;
    }

    .num-text{
      padding-top: 20px;
    }
  
    .num{
      display: block;
      margin: 0 auto;
    }
  }
  
  .text-1 h2, .text-2 h3{
    font-size: 4rem 4rem;
  }