*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Cera Pro";
  --header-color: #f8fdfc;
  --body-font: "Mulish";
  --body-color: #e5e5e5;
  --footer: #000;
  --button: #20c7ab;
  --footer-color: #f9f9f9;
  --font-color: #777777;
}

html,
body {
  font-size: 10px;
  font-family: var(--body-font);
  color: var(--font-color);
  overflow-x: hidden;
  line-height: 1.5;
}

@font-face {
  font-family: "Mulish";
  src: url("/Mulish/static");
}

@font-face {
  font-family: "Cera Pro";
  src: url("/cera");
}

.container-header {
  line-height: 1.5;
  background-color: var(--body-color);
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.insight-nav{
  max-width: 100%;
   /* max-height: 100%; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro";
  color: #000;
  letter-spacing: -0.05em;
  font-style: normal;
  font-weight: bold;
}

p,
input,
figcaption,
a,
li {
  font-family: var(--body-font);
  color: #515151;
  font-weight: 400;
  font-size: 1.4rem;
}

button {
  background: var(--button);
  color: white;
  border-radius: 12px;
  padding: 15px;
  min-width: 100px;
  text-transform: uppercase;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.mobile {
  font-size: 50px;
  position: relative;
  display: none;
}

  ul a, ul li {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  margin: 0 5.5px;
}

 ul li ion-icon {
  font-size: 2rem;
}

  ul {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

footer {
    background-color: black;
    color: white;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    bottom: 0;
    grid-template-rows: auto;
    padding: 30px;
  }
  
  footer li {
    color: white;
    padding: 5px 0;
    list-style-type: none;
    font-size: 12px;
  }
  
  input{
    display: relative;
    max-width: 100%;
    padding: 15px 18px;
    outline: none;
    border: none;
    color: grey;
  }

  .insight-section{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      place-content: center;
     
  }
  
  .footer-5 button {
    border-radius: 0;
    position: absolute;
    margin-right: -30px;
    padding: 15px 18px;
  }
  
  form {
    margin: auto;
  }
  
  label {
    font-size: 20px;
    display: block;
    padding-bottom: 20px;
  }
  
  .footer-5 input {
    width: 50%;
  }
  .footer-5{
    padding-left: 20px;
  }
  .footers{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .insight-section a{
    color: blue;
  }
  
  .insight-section h2{
    padding: 25px 0;
    font-size: 4rem;
  }
  
  .insight-section p{
    padding-bottom: 40px;
    font-size: 16px;
    color: #515151;
  }

  .insight-section h3{
      padding: 25px 0;
      font-size: 3rem;
  }

  .insight-img{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: auto;
    place-items: center;
    grid-gap: 10px;
    padding: 25px;
    margin-left: 60px;
    /* margin: 0 auto; */
  }

  .insight-img img{
    width: 300px;
    margin: 0 auto;
    display: block;
  }

  img[src="images/edo.svg"]{
    width: 80%;
    display: block;
    margin-left: 22px;
    max-width: 100%;
  }

  img[src="images/image0.svg"]{
    width: 80%;
    display: block;
    margin-left: 0;
    max-width: 100%;
  }