@media screen and (min-width: 50px) and (max-width: 480px){
  .header, .insight-header {
    padding: 1rem;
    height: auto;
  }
  .mobile {
    display: block;
  }
  ul {
    position: absolute;
    display: none;
    left: -600px;
    right: 0;
    top: 0;
    overflow: hidden;
    animation: 0.5s slide forwards;
  }

  nav .ul li, nav .ul a {
    padding: 25px;
    color: white;
  }
  nav {
    justify-content: space-between;
  }
  li ion-icon,
  a {
    color: white;
  }

  @keyframes slide {
    100% {
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 50%;
      /* min-height: 0; */
    }
  }

  .header-text-1{
    padding: 15px 5px
  }
  .header-text-1 h1, .header-text-1 p {
    padding: 10px 0;
  }

  .header-text-1 button{
    margin: 10px 0;
  }

  .header-text-2 {
    display: none;
  }

  p{
    font-size: 1.2rem;
  }

  h1,h2,h3,h4{
    font-size: 2rem;
  }
  .section-container1 {
    margin: 1rem auto;
  }

  figure img {
    width: 240px;
  }

  figure {
    width: 250px;
    margin-left: 0;
  }

  figure h4 {
    padding: 20px;
  }

  figcaption {
    padding: 0 5px 20px 10px;
    font-size: 12px;
  }

  .cards{
    max-width: 100%;
    margin-left: 0;
    height: 570px;
  }

  .text{
    width: 100%;
    padding: 0 5px;
  }

  /* contact */
  .header-form {
    margin: 20px;
  }

  .header-form button {
    width: 60%;
    display: block;
    margin: 0;
  }

  .header-form input,
  textarea {
    width: 90%;
  }

  footer{
    padding: 0 0 60px;
  }

  .footer-5{
    padding-left: 15px;
  }
  .footer-5 input {
    width: 50%;
  }

  .footer-5 button {
    display: block;
    margin-top: 10px;
  }

  .footers li{
    font-size: .9rem;
  }

  .insight-section{
    margin: 45px 30px;
  }

  .insight-section h2{
    font-size: 2.5rem;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 25px;
    padding-right: 15px;
  } 

  img[src="images/edo.svg"]{
    width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  
}

@media screen and (min-width: 481px) and (max-width: 600px){
  .header,.contact-header, .insight-header {
    padding: 1rem;
    height: auto;
  }
  .mobile {
    display: block;
  }
  ul {
    position: absolute;
    display: none;
    left: -600px;
    right: 0;
    top: -1%;
    overflow: hidden;
    animation: 0.5s slide forwards;
  }

  nav .ul li, nav .ul a {
    padding: 25px;
    color: white;
  }
  nav {
    justify-content: space-between;
  }
  li ion-icon,
  a {
    color: white;
  }

  @keyframes slide {
    100% {
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 50%;
    }
  }

  .header-text-1{
    padding: 15px 20px;
  }
  .header-text-1 h1, .header-text-1 p {
    padding: 10px 0;
  }

  .header-text-1 button{
    margin: 10px 0;
  }

  .header-text-2 {
    display: none;
  }

  figure img {
    width: 240px;
  }

  figure {
    width: 250px;
  }

  figure h4 {
    padding: 20px;
  }

  figcaption {
    padding: 0 5px 20px 10px;
    font-size: 13px;
  }

  .section-container1 {
    padding: 0 10px;
  }

  .header-form {
    margin: 20px 20px 20px 0;
  }

  .header-form button {
    width: 35%;
    display: block;
    margin: 0;
  }

  .header-form input,
  textarea {
    width: 90%;
  }

  .insight-section{
    margin: 45px 20px;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 50px;
    padding-right: 50px;
  } 

  .text1{
    padding-top: 2rem;
  }



  .text-1 h2, .text-2 h3{
    font-size: 3rem;
    padding: 20px 0;
  }

  .sections1{
padding: 2rem 3.5rem;
  }

}

@media screen and (min-width: 601px) and (max-width: 768px){
  .header,.contact-header, .insight-header {
    padding: 2rem 1rem;
  }

  .header-text {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .header-text-2 {
    display: block;
  }

  .header-text-1 h1{
    padding-top: 20px;
    font-size: 3rem;
  }
  .model {
    width: 270px;
    margin-top: 30px;
    margin-left: 15px;
  }
  .circle {
    width: 300px;
    margin-top: -20px;
  }

  .header-text-1 button{
    margin: 17px 0;
  }

  figure img {
    width: 260px;
  }

  figure {
    width: 270px;
  }

  figure h4 {
    padding: 20px;
  }

  figcaption {
    padding: 0 5px 20px 15px;
    font-size: 13px;
  }

  .section-container1 {
    padding: 0 50px;
  }

  .header-form {
    margin: 30px 100px;
  }

  .header-form button {
    width: 35%;
    display: block;
    margin: 0;
  }

  .header-form input,
  textarea {
    width: 90%;
  }

  .insight-section{
    margin: 55px 30px 100px 30px;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 61px;
    padding-right: 61px;
  } 


}

@media screen and (min-width: 769px) and (max-width: 992px){
  .header,.contact-header, .insight-header {
    padding: 2rem;
  }

  .header-text {
    padding: 20px 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .header-text-2 {
    display: block;
    height: fit-content;
  }

  .header-text-1 h1{
    padding-top: 75px;
    font-size: 4rem;
  }
  .model {
    width: 340px;
    margin-top: 30px;
    margin-left: 15px;
  }
  .circle {
    width: 385px;
    margin-top: -20px;
  }

  .header-text-1 button{
    margin-bottom: 60px;
  }

  .section-container1 {
    padding: 0 55px;
  }

  .header-form {
    margin: 50px 130px;
  }

  .header-form button {
    width: 35%;
    display: block;
  }

  .header-form input,
  textarea {
    width: 80%;
  }

  .insight-section{
    margin: 55px 100px 100px 100px;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 61px;
    padding-right: 61px;
  } 

}

@media screen and (min-width: 993px) and (max-width: 1199px){
  .header,.contact-header, .insight-header {
    padding: 2rem 3rem;
  }

  .header-text {
    padding: 2.5rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .header-text-2 {
    display: block;
  }

  .header-text-1{
    padding: 2.5rem 3.5rem;
  }
  .header-text-1 h1{
    padding-top: 25px;
  }

  .header-text-1 button{
    margin-bottom: 10rem;
  }
  .model {
    width: 443px;
    margin-top: 23px;
    margin-left: 15px;
  }
  .circle {
    width: 490px;
    margin-top: -20px;
  }

  figure img {
    width: 270px;
  }

  figure {
    width: 280px;
    margin-bottom: 20px;
  }

  figure h4 {
    padding: 20px;
  }

  figcaption {
    padding: 0 5px 20px 15px;
    font-size: 14px;
  }

  .section-container1 {
    padding: 0 100px;
    
  }

  /* footer{
    height: fit-content;
    top: 0;
    bottom: 0;
    position: fixed;
  } */

  .header-form {
    margin: 80px 200px 80px 220px;
  }

  .header-form button {
    width: 35%;
    display: block;
  }

  .header-form input,
  textarea {
    width: 80%;
  }

  aside h2 {
    padding-left: 100px;
    padding-right: 100px;
  }
  aside h2:after {
    left: 220px;
    top: 55px;
  }

  .insight-section{
    margin: 5px 200px 100px 200px;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 61px;
    padding-right: 61px;
  } 

}

@media screen and (min-width: 1200px){
  .header,.contact-header, .insight-header {
    padding: 2rem 6rem;
  }

  .header-text {
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .header-text-2 {
    display: block;
    margin-right: 20px;
  }

  .header-text-1{
    padding: 4.5rem 4rem 4.5rem 8rem;
  }
  .header-text-1 h1{
    padding-top: 80px;
    width: 80%;
  }

  .header-text p{
    width: 80%;
  }

  .header-text-1 button{
    margin-bottom: 10rem;
    margin-top: 1rem;
  }
  .model {
    width: 525px;
    margin-top: 23px;
    margin-left: 15px;
  }
  .circle {
    width: 650px;
    object-fit: cover;
    margin-top: -20px;
  }

  figure img {
    width: 290px;
  }

  figure {
    width: 300px;
    margin-bottom: 20px;
  }

  figure h4 {
    padding: 20px;
  }

  figcaption {
    padding: 0 5px 20px 15px;
    font-size: 14px;
  }

  .section-container1 {
    padding: 0 120px;
  }

  .section-container1 h2{
    padding-left: 70px;
  }

  .header-form {
    margin: 80px 300px;
  }

  .header-form button {
    width: 35%;
    display: block;
  }

  .header-form input,
  textarea {
    width: 80%;
  }

   aside h2 {
    padding-left: 190px;
  }
 aside h2:after {
    left: 300px;
    top: 54px;
  }
  .insight-section{
    margin: 55px 300px 100px 300px;
  }

  .insight-section h2,.insight-section h3,.insight-section p, .insight-section span{
    padding-left: 61px;
    padding-right: 61px;
  } 
}