*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Cera Pro";
  --header-color: #f8fdfc;
  --body-font: "Mulish";
  --body-color: #e5e5e5;
  --footer: #000;
  --button: #20c7ab;
  --footer-color: #f9f9f9;
  --font-color: #777777;
}

html,
body {
  font-size: 10px;
  font-family: var(--body-font);
  color: var(--font-color);
}

@font-face {
  font-family: "Mulish";
  src: url("/Mulish/static");
}

@font-face {
 font-family: "Cera Pro";
  src: url("/cera");
}

body {
  line-height: 1.5;
  background-color: var(--body-color);
  overflow-x: hidden;
}



.header {
    background-color: #f8fdfc;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro";
  color: #000;
  letter-spacing: -0.05em;
  font-style: normal;
  font-weight: bold;
}

figure h4 {
  font-size: 16px;
}

p{
  padding: 5px 0 ;
}

p,
input,
figcaption,a,li {
  font-family: var(--body-font);
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
}

button {
  background: var(--button);
  color: white;
  border-radius: 12px;
  padding: 15px;
  min-width: 100px;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin: 15px 0;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.header{
  width: 100%;
  height: auto;
}

/* navbar */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

nav img{
  width: 100px;
  max-width: 100%;
  display: block;
}

.mobile{
  font-size: 50px;
  position: relative;
  display: none;
}

li,nav a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  color: black;
  margin: 0 5.5px;
}

li ion-icon{
  font-size: 30px;
  color: black;
}

ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: hidden;
}

/* header-text */
.header-text{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

/* header-text-2 */
.circle{
  background-color: black;
  border-radius: 50%;
}

.circle,.model{
  position: absolute;
}

/* footer */

footer{
  background-color: black;
  color: white;
  max-width: 100%;
}

footer li{
  color: white;
  padding: 5px 0;
}

input{
  display: relative;
  max-width: 100%;
  padding: 15px 18px;
  outline: none;
  border: none;
  color: grey;
}

form button{
  border-radius: 0;
  position: absolute;
  margin-top: -0.8px;
}

form{
  margin: auto;
}

label{
  font-size: 20px;
  display: block;
  padding-bottom: 20px;
}


input{
  width: 70%;
}

aside h2{
  font-size: 3rem;
  padding: 3rem;
  position: relative;
}

aside h2::after{
  position: absolute;
  content: '';
  width: 100px;
  height: 1px;
  left: 150px;
  top: 52px;
  background-color: black;
}

.section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-template-rows: auto;
  place-items: center;
}

footer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-template-rows: auto;
  padding: 20px;
}

figure img{
  width: 280px;
}

figure{
  background-color: white;
  width: 280px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.02);
}

figure h4{
  padding: 20px;
}

figcaption{
  padding: 0 5px 25px 15px;
}
form{
  -ms-grid-column-span: 1/5;
}

.cards{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  height: 320px;
  margin: 20px;
  padding: 10px 40px;
  border-radius: 20px;
}

.cards2{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  height: 280px;
  margin: 60px 0 0 0;
  padding: 20px 40px;
  border-radius: 20px;
}

.cards h4,.cards2 h4{
  font-size: 20px;
  line-height: 1;
  padding-top: 15px;
}

.cards img[src="images/image0.svg"]{
  width: 500px;
  margin-left: 150px;
  height: 300px;
}

.cards link, .cards2 link{
  color: blue;
  padding-bottom: 15px;
  font-size: 12px;
}

.cards p,.cards2 p{
  padding: 20px 0;
  color: black;
  font-size: 13px;
}
span{
  display: block;
  padding-bottom: 10px;
  font-size: 13px;
  color: black;
}

.cards img[src="images/image9.svg"]{
  width: 280px;
  border-radius: 18px;
  background-color:var(--button);
  display: block;
  padding:  5px 70px;
  margin: 0 60px;
}